.main_title {
    text-align: center;
    margin-top: 30px;
}



.name {
    width: 200px;
    height: auto;
    margin: 120px ;
    margin-top: 60px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    list-style-type: none;
    background-color: rgba(255, 0, 0, 0.376);
    display: inline-block;
}

.chili_picture {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.beef_picture {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.noodle_picture {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.recipe_title {
    text-align: center;
}


